<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>FirstServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>ServletTest</servlet-class>
	</servlet>
	
	    <servlet>
        <servlet-name>HelloServletService</servlet-name> 
		<servlet-class>HelloServletService</servlet-class> 
		</servlet>

	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/ServletTest</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloServletService</servlet-name> 
		<url-pattern>/HelloServletService</url-pattern> 
	</servlet-mapping>	
		

	<servlet>
		<servlet-name>HelloServletdoGet</servlet-name> 
		<servlet-class>HelloServletdoGet</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>HelloServletdoGet</servlet-name> 
		<url-pattern>/HelloServletdoGet</url-pattern> 
	</servlet-mapping>

	<servlet>
		<servlet-name>HelloServletdoPost</servlet-name> 
		<servlet-class>HelloServletdoPost</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>HelloServletdoPost</servlet-name> 
		<url-pattern>/HelloServletdoPost</url-pattern> 
	</servlet-mapping>

	<servlet>
		<servlet-name>HelloServletdoPostOverGet</servlet-name> 
		<servlet-class>HelloServletdoPostOverGet</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>HelloServletdoPostOverGet</servlet-name> 
		<url-pattern>/HelloServletdoPostOverGet</url-pattern> 
	</servlet-mapping>

	<servlet>
		<servlet-name>GetData</servlet-name> 
		<servlet-class>GetData</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>GetData</servlet-name> 
		<url-pattern>/GetData</url-pattern> 
	</servlet-mapping>

		<servlet>
		<servlet-name>PostData</servlet-name> 
		<servlet-class>PostData</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>PostData</servlet-name> 
		<url-pattern>/PostData</url-pattern> 
	</servlet-mapping>

	<servlet>
		<servlet-name>GetDataKr</servlet-name> 
		<servlet-class>GetDataKr</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>GetDataKr</servlet-name> 
		<url-pattern>/GetDataKr</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name> 
		<servlet-class>jw04.Login</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name> 
		<url-pattern>/Login</url-pattern> 
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginBean</servlet-name> 
		<servlet-class>jw04.LoginBean</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>LoginBean</servlet-name> 
		<url-pattern>/LoginBean</url-pattern> 
	</servlet-mapping>
	
		<servlet>
		<servlet-name>LoginBeanVODao</servlet-name> 
		<servlet-class>jw04.LoginBeanVODao</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>LoginBeanVODao</servlet-name> 
		<url-pattern>/LoginBeanVODao</url-pattern> 
	</servlet-mapping>
			<servlet>
		<servlet-name>LoginBeanPool</servlet-name> 
		<servlet-class>jw04.LoginBeanPool</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>LoginBeanPool</servlet-name> 
		<url-pattern>/LoginBeanPool</url-pattern> 
	</servlet-mapping>


	<servlet>
		<servlet-name>CookieReaderToServer</servlet-name> 
		<servlet-class>jw05.CookieReaderToServer</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>CookieReaderToServer</servlet-name> 
		<url-pattern>/CookieReaderToServer</url-pattern> 
	</servlet-mapping>
	<servlet>
		<servlet-name>CookieWriterToClient</servlet-name> 
		<servlet-class>jw05.CookieWriterToClient</servlet-class> 
	</servlet>
    <servlet-mapping>
        <servlet-name>CookieWriterToClient</servlet-name> 
		<url-pattern>/CookieWriterToClient</url-pattern> 
	</servlet-mapping>
	
	<!-- http://217.0.0.1:8080/edu/FirstServlet -->


  <servlet>
		<servlet-name>LoginBeanInitParam</servlet-name>
		<servlet-class>jw04.LoginBeanInitParam</servlet-class>
		<init-param>
			<param-name>jdbcDriver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcURL</param-name>
			<param-value>jdbc:oracle:thin:@127.0.0.1:1521:xe</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcUser</param-name>
			<param-value>scott</param-value>
		</init-param>
		<init-param>
			<param-name>jdbcPasswd</param-name>
			<param-value>tiger</param-value>
		</init-param>
  </servlet>
 
                                

</web-app>
