<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  
  <!-- Front Controller 매핑 -->
  <servlet>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>controller.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- 전체 세션 타임아웃(분 단위) -->
  <session-config>
    <session-timeout>30</session-timeout> <!-- 30분 -->
  </session-config>
  
  	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file> 
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
